################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/05.NestedTemplate/v15
/.vs/ArmNestedTemplate
/.vs/config
/.vs
